
<div style="padding: 24px;text-align: center;">

<h1>The dataset <%= notification.dataset_name %> has been completed.</h1>

<p style="font-size: 14px;line-height: 20px;">Hi <%= account.name %>,</p>

  <p style="text-align: center;font-size: 14px;line-height: 20px;margin: 0 100px;">
The dataset <%= notification.dataset_name %> in project <%= notification.project_name %> is now completed.
All tasks in the dataset have been finished.  </p>

<div style="background-color:#3A81F6; border-radius: 8px; padding: 10px 14px;width: 150px;margin: 20px auto;">
    <a href="<%= [ENV.fetch("IDAH_URL"), "/projects/#{notification.project_id}/dataset/#{notification.dataset_id}"].join("") %>" style="text-decoration: none; color: #fff; font-size: 14px; font-weight: 600;width: 150px;margin: 0 auto;">
      go to dataset
    </a>
  </div>
</div>

