
<div style="padding: 24px;text-align: center;">

<h1>You have been removed as organization owner of </h1>
<h1>"<%= notification.organization_name %>" organization</h1>

    <img src="<%= [ENV.fetch("IDAH_URL"), "/assets/images/email-illustration-org_owner_role_removed.png"].join("") %>" style="width: 120px; height: 120px;margin: 0 auto;" />


<p style="font-size: 14px;line-height: 20px;">Hi <%= notification.recipient_name || notification.recipient_account_email %>,</p>

  <p style="text-align: center;font-size: 14px;line-height: 20px;margin: 0 100px;">
You have been removed as organization owner of "<%= notification.organization_name %>" organization by <%= notification.changed_by_name %>.
  </p>
</div>
