
<div style="padding: 24px;text-align: center;">

  <h1>You have been removed from project "<%= notification.project_name %>"</h1>

    <img src="<%= [ENV.fetch("IDAH_URL"), "/assets/images/email-illustration-project_member_removed.png"].join("") %>" style="width: 120px; height: 120px;margin: 0 auto;" />


   <p style="font-size: 14px;line-height: 20px;">Hi <%= account.name || account.email %>,</p>
  <p style="text-align: center;font-size: 14px;line-height: 20px;margin: 0 80px;">
  You have been removed from the project "<%= notification.project_name %>" by <%= notification.remover_name %>.
  </p>

   <p style="text-align: center;font-size: 14px;line-height: 20px;margin: 0 80px;">
If you have any questions, please contact the project owner.  </p>
</div>
