
<div style="padding: 24px;text-align: center;">

  <h1>You have been invited to project '<%= notification.project_name %>'</h1>

    <img src="<%= [ENV.fetch("IDAH_URL"), "/assets/images/email-illustration-project_member_added.png"].join("") %>" style="width: 120px; height: 120px;margin: 0 auto;" />
  
    <p style="font-size: 14px;line-height: 20px;">Hi <%= account.name || account.email %>,</p>
  <p style="text-align: center;font-size: 14px;line-height: 20px;margin: 0 100px;padding: 20px;">
  You have been added to the project '<%= notification.project_name %>' by '<%= notification.inviter_email %>'.
  </p>

   <div style="background-color:#3A81F6; border-radius: 8px; padding: 10px 14px;width: 150px;margin: 20px auto;">
    <a href="<%= [ENV.fetch("IDAH_URL"), "/projects/#{notification.project_id}"].join("") %>" style="text-decoration: none; color: #fff; font-size: 14px; font-weight: 600;width: 150px;margin: 0 auto;">
      go to project
    </a>
  </div>
</div>
